<!--Section: Contact v.2-->
<section class="mb-4">

  <!--Section heading-->
  <h1 class="h1-responsive font-weight-bold text-center my-4">Contact us</h1>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly.</p>
<div class="container">
  <div class="row">
      <!--Grid column-->

      <div div class="col-md-6">
          <form style="width: 50%; margin: auto">
       <div>

           <div style="width: 100%"class="row">
               <input placeholder="Email" [formControl]="emailFormControl">
               <div *ngIf="emailFormControl.invalid && (emailFormControl.touched)">
                 <p>Please enter a valid email address</p>
               </div>
               <!-- <div *ngIf="emailFormControl.hasError('required')">
                 <p>Email is required</p>
               </div> -->
             </div><br>
             <div style="width: 100%"class="row">
             <input placeholder="Name" [formControl]="nameFormControl" />
             <div *ngIf="nameFormControl.hasError('minlength')">
               <p>Name must be at least 4 characters long.</p>
             </div>
             <!-- <div *ngIf="nameFormControl.hasError('required')">
            <p> Name is required</p>
             </div> -->
           </div><br>
           <div style="width: 100%"class="row">
             <input placeholder="subject" [formControl]="subjectFormControl"/>
             <div *ngIf="subjectFormControl.hasError('minlength')">
             </div>
             <!-- <div *ngIf="subjectFormControl.hasError('required')">
               <p>subject is required</p>
             </div> -->
           </div><br>
           <div style="width: 100%"class="row">
             <textarea placeholder="textarea" rows="4" [formControl]="textareaFormControl"></textarea>
           </div><br>
           <div>
           </div>
           </div>
           <button
      [disabled]="emailFormControl.invalid || nameFormControl.invalid || loading"
      color="primary"
      (click)="register()">
      {{buttonText}}
    </button>
          </form>

          </div>
      <!--Grid column-->
      <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
              <li><i class="fas fa-map-marker-alt fa-2x"></i>
                  <p>San Francisco, CA 94126, USA</p>
              </li>

              <li><i class="fas fa-phone mt-4 fa-2x"></i>
                  <p>+ 01 234 567 89</p>
              </li>

              <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                  <p>LeeResturant@gmail.com</p>
              </li>
          </ul>
      </div>
      <!--Grid column-->

  </div>

</div>


</section>
<!--Section: Contact v.2-->

