<p>create-food-menu works!</p>
<div class="container">
  <h1 style="padding-left: 40%;">Create Menu</h1>
  <div class="row">
  <form [formGroup]="createMenu">
       <input type="text" formControlName='foodName' placeholder="foodName"><br><br>
       <input type="text" formControlName='img' placeholder="image"><br><br>
       <input type="text" formControlName='foodPrice' placeholder="foodPrice"><br><br>
        <button (click)="addFood()">AddFood</button>

  </form>
 <br><br>
   <h1 style="padding-left: 40%;">Admin Menu View</h1>
  <li *ngFor="let food of adminView$ | async " >
    <div class="container">
    <div class="row">
      <div class="col"><img src={{food.img}} alt="" width="100" height="60" ></div>
      <div class="col">{{food.foodName}}</div>
      <div class="col">{{food.foodPrice}}</div>
      <div class="col"><button (click)=" deleteFood(food)">Delete</button>
        <button>Update</button></div>

    </div>
  </div>
  </div>
