li {
  list-style-type: none;
  color: white;

}
h3{
  color: white;
}
.col{
margin-top: 3em;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.delbtn {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.container {
  padding: 16px;

}

form {border: 16px solid #f1f1f1;}

.cart{
display: flex;
justify-content: space-between;
height: 2em;
}

button{
  background-color: #c39e6d;
  color: white;
}
.col{
  color: white;
}
