
<div class="container">
  <div class="row" style=" align-items: center;">

<form [formGroup] = 'userLogin'>
  <h2>Login</h2><br>

  <div class="mb-3">
    <label class="form-label">Email address</label><br>
    <input type="text" formControlName='email' placeholder="email">
  </div>

  <div class="mb-3">
    <label class="form-label">Password</label><br>
    <input type="password" formControlName='password' placeholder="password">
  </div>
  <button (click)="login()">Login</button>
  <div *ngIf="(loginFailMsg$ | async) as fMsg ">
    {{fMsg}}
  </div>
</form>
</div>

</div>
