
  <div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row"style="height:250px">
      <div class="col-sm-12" style="background-image: url('../../../assets/img/img1.jfif');">Header
        width="1000" height="100"
      </div>
    </div>
    <br>
    <div class="row" style="height:450px">
      <div class="col-sm-4" style="background-image: url('../../../assets/img/menu3.jpg')"><p></p></div>
      <div class="col-sm-8" style="background-image: url('../../../assets/img/menu2.jpg')">Content</div>
    </div>
    <br>
    <!-- Or let Bootstrap automatically handle the layout -->
    <div class="row" style="height:450px">
      <div class="col-sm-12" style="background-image: url('../../../assets/img/images2.jfif')">Footer</div>
    </div>
    <br>

</div>

