
<p>home works!</p>

  <div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-sm-12" style="background-color:yellow;height:200px">Header</div>
    </div>
    <br>
    <div class="row" style="height:450px">
      <div class="col-sm-4" style="background-color:yellow;">Left Navigation</div>
      <div class="col-sm-8" style="background-color:orange;">Content</div>
    </div>
    <br>
    <!-- Or let Bootstrap automatically handle the layout -->
    <div class="row">
      <div class="col-sm-12" style="background-color:yellow;height:225px">Footer</div>
    </div>
    <br>

</div>

