<!--
  <div class="container-fluid">
    <div class="row"style="height:250px">
      <div class="col-sm-12" style="background-image: url('../../../assets/img/img1.jfif');">
      </div>
    </div>
    <br>
    <div class="row" style="height:450px">
      <div class="col-sm-4" style="background-image: url('../../../assets/img/menu3.jpg')"><p></p></div>
      <div class="col-sm-8" style="background-image: url('../../../assets/img/menu2.jpg')"></div>
    </div>
    <br>
    <div class="row" style="height:450px">
      <div class="col-sm-12" style="background-image: url('../../../assets/img/images2.jfif')"></div>
    </div>
    <br>

</div> -->

<div class="container-fluid">
  <div class="row">
    <div class= "col">

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="../../../assets/img/img6.jpg" style="width: 100%; height: 55em">
    </ng-template>
    <ng-template carouselSlide><img src="../../../assets/img/menu2.jpg "style="width: 100%; height: 55em"></ng-template>
    <ng-template carouselSlide><img src="../../../assets/img/img4.jpg"style="width: 100%; height: 55em"></ng-template>
  </owl-carousel-o>
</div>
  </div>
</div>
